# Ignore virtual environment
.venv/
venv/

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore logs
logs.log
logs/

# Ignore models
models/*.pkl

# Ignore dependency environment
requirements.txt.lock

# Ignore system files
.DS_Store
Thumbs.db
