
*.pyc
*.log
.venv

# Ignore model files
models/*.pkl

# Ignore data files
dataforecast/*.csv
!dataforecast/raw_data/

dataforecast/raw_data/*.csv
!dataforecast/raw_data/raindata.csv

# Ignore Jupyter Notebook checkpoints
*.ipynb_checkpoints/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore temporary or backup files
*.bak
*.tmp
*.swp
*.swo

# Ignore scripts
scripts/*.csv
scripts/*.py
!scripts/dash3app.py
!scripts/dashapp.py
!scripts/dashapp2.py
!scripts/test1.py
